div {
    text-align: center;
}

body {
    background: radial-gradient(circle, #5F09B6, #0C0C2B);

    background-size: 200% 200%;
    animation: backgroundMove 10s infinite alternate;
}

#pregunta {
    background: linear-gradient(to right, #7B00A8, #6501AE, #4E03B5); /* Degradado de izquierda a derecha */
    border-radius: 100px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno para que el contenido no toque los bordes */
    color: white; /* Color del texto */
    width: 90%; /* Ancho del elemento */
    max-width: 900px; /* Ancho máximo del elemento */
    height: 120px; /* Altura del elemento */
    margin: 50px auto; /* Centrar el elemento horizontalmente */
    text-align: center; /* Centrar el texto */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
 /* Tamaño de la fuente */
}

h1{

    font-weight: bold;
    font-size: 50px;
}



button {
    background-color: #060D20;
    color: white;
    border-radius: 100px;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    margin: 20px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

button.active {
    background: linear-gradient(to right, #7B00A8, #6501AE, #4E03B5); /* Color de fondo cuando el botón está activo */
}

#nextquestion {
    background: linear-gradient(to right, #7B00A8, #6501AE, #4E03B5); /* Degradado de izquierda a derecha */
    border-radius: 100px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno para que el contenido no toque los bordes */
    color: white; /* Color del texto */
    width: 400px;
    height: 70px; /* Altura del elemento */
    margin: 55px auto; /* Centrar el elemento horizontalmente */
    text-align: center; /* Centrar el texto */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    font-weight: bold;
    gap: 15px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    #pregunta {
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 50px;
    }

    button {
        padding: 15px;
        font-size: medium;
        width: 250px;
        margin: 15px;
    }

    #nextquestion {
        width: 80%;
        padding: 15px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }
}


@keyframes backgroundMove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
